<template>
  <v-layout row wrap>
    <v-flex xs3 v-for="(value, key) in cameras" :key="key">
      <v-card :id = "key">
        <v-card-title primary-title>
          <div>
            <div class="headline">{{value.setor}}</div>
            <span class="grey--text">{{value.IpAdress}} ‧</span>
            <v-text v-if="value.operando == 1">Operando</v-text>
            <v-text v-else>Não operante</v-text>
            <b-button v-on:click="getData(key)" v-b-modal="key + 1" size="sm" variant="outline-primary" >
              <v-icon>timeline</v-icon>
            </b-button>
            <b-modal hide-footer :id = "key + 1" :title="value.setor">
              <line-chart :data="chartData"></line-chart>
            </b-modal>
          </div>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>


<script type="text/javascript">

const fb = require('../firebaseconfig.js');

export default {
  name: 'Cameras',
  data() {
    return {
      cameras: [],
      chartData: [],
    };
  },
  mounted() {
    this.fetchCameras();
  },
  methods: 
  {
    async fetchCameras() {
      const starCountRef = fb.db.ref('/cameras');
      starCountRef.on('value', (snapshot) => {
        // eslint-disable-next-line
        // console.log(snapshot.val());
        this.cameras = snapshot.val();
      });
    },
    getData(key) {
      var date = new Date();
      console.log(key);
      const stringFormat = key + "/NPersons/" + date.getFullYear().toString() + "/" + (date.getMonth() + 1).toString() + "/" + 
                        date.getDate().toString();
      console.log(stringFormat);
      const starCountRef = fb.db.ref('/cameras/' + stringFormat);
      starCountRef.on('value', (snapshot) => {
        this.chartData = snapshot.val()
      });
    }
  },
};
</script>
